services:
- type: web
  name: hop-medusa-prod
  env: node
  plan: starter
  buildCommand: yarn install && npm install @medusajs/medusa-cli -g
  startCommand: yarn render-start
  healthCheckPath: /health
  autoDeploy: false
  envVars:
    - key: NODE_VERSION
      value: ~18.15.0
    - key: NODE_ENV
      value: production
    - key: DATABASE_TYPE
      value: postgres
    - key: REDIS_URL
      fromService:
        type: redis
        name: hop-lightning
        property: connectionString
    - key: DATABASE_URL
      fromDatabase:
        name: hop-medusa-db
        property: connectionString
    - key: JWT_SECRET
      generateValue: true
    - key: COOKIE_SECRET
      generateValue: true
- type: redis
  name: hop-lightning
  ipAllowList: # required
    - source: 0.0.0.0/0
      description: everywhere
  plan: free # optional (defaults to starter instance type)
  maxmemoryPolicy: noeviction # optional (defaults to allkeys-lru)

databases:
- name: hop-medusa-db
  plan: starter